/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
}

/* ================= HEADER ================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--cor-terciaria) 30%,
    var(--cor-secundaria)
  );
  color: var(--cor-texto-claro);
  padding: 3vh 2vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  margin-left: 5vw;
}

.header .logo img {
  width: 10vw;
  height: 10vh;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header-right a {
  text-decoration: none;
  color: var(--cor-texto-claro);
}

.header-right a:hover {
  text-decoration: underline;
}

.header-right .icons {
  display: flex;
  gap: 0.5rem;
  align-items: center; /* centraliza horizontalmente */
  cursor: pointer;
  border: 2px solid var(--cor-texto-claro);
  box-shadow: 0 0 1px 0.5px var(--cor-texto-claro);
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.header-right .icons:hover {
  transform: scale(1.05);
}

.header-right .icons i {
  transition: all 0.4s ease-in;
}

.header-right .icons i:hover {
  transform: rotate(-105deg);
}

.profile i {
  font-size: 2rem;
  margin-right: 2rem;
}

.header-right .meuperfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* Animação SearchBar */
.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 50%;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-bar i {
  margin-left: -2rem;
  color: var(--cor-primaria-escura);
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 45vw;
}

.search-dropdown {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 75vh;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 14px;
  padding: 0.8rem 0;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
  animation: dropdownOpen 0.25s ease-out;
  z-index: 2000;
  opacity: 1;
  transform: translateY(0);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estiliza a barra de rolagem */
.search-dropdown::-webkit-scrollbar {
  width: 8px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}

/* Espaço antes dos itens para não encostar no topo */
.dropdown-content {
  padding-top: 0.5rem; /* ← ajustável */
}

.search-dropdown.closing {
  animation: dropdownClose 0.2s ease-in forwards;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-weight: 600;
  color: white;
}

.dropdown-header .close-btn {
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--cor-texto-claro);
  background-color: var(--cor-pending);
  padding: 0.7rem;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}
.dropdown-header .close-btn span {
  margin-right: 0.3rem;
}

.dropdown-header .close-btn:hover {
  transform: scale(0.95);
}

/* ITEMS */
.dropdown-item {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* BOTÃO PESQUISAR ANIMADO */
.btn-search {
  width: 90%;
  margin: 0.9rem auto 0.3rem auto;
  display: block;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-search:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.28);
}

/* PULSE ANIMATION */
.pulse {
  animation: pulseAnim 1.4s infinite ease-in-out;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.btn-vermelho,
.btn-verde {
  transition: all 0.3s ease-in-out;
}

.btn-vermelho:hover {
  background-color: #610f0f;
  transform: scale(0.98);
}

.btn-verde:hover {
  background-color: #085005;
  transform: scale(0.98);
  cursor: pointer;
}

/* ================= SIDEBAR ================= */
.sidebar {
  width: 4.8rem;
  background: linear-gradient(
    to top,
    var(--cor-secundaria) 80%,
    var(--cor-terciaria)
  );
  color: var(--cor-texto-claro);
  height: 100vh;
  padding: 1rem 0;
  padding-bottom: 7rem;
  position: fixed;
  top: 16.7vh;
  left: 0;
  z-index: 4000;
  overflow-y: auto;
  transition:
    width 0.3s ease,
    left 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Quando abrir */
.sidebar.active {
  width: 15.5vw;
}

/* Ícones + label */
.sidebar ul {
  list-style: none;
  margin-top: 1vh;
  margin-left: 0.5vw;
}
.sidebar ul li {
  margin-bottom: 1rem;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--cor-texto-claro);
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}
.sidebar .label {
  display: none;
}
.sidebar.active .label {
  display: inline;
}

.sidebar ul li.ativo a {
  background: rgba(255, 255, 255, 0.18);
  border-right: 6px solid var(--cor-primaria);
  transition: all 0.25s ease;
}

/* Hambúrguer */
.sidebar-hamburguer {
  position: fixed;
  z-index: 5001;
  top: 5vh;
  left: 0.8vw;
  cursor: pointer;
}

.hamburger-icon {
  width: 2.5vw;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

.hamburger-icon span {
  width: 100%;
  height: 4px;
  background: var(--cor-texto-claro);
  border-radius: 5px;
  transition: 0.35s ease;
}

/* ANIMAÇÃO DO X */
.hamburger-icon.open span:nth-child(1) {
  transform: rotate(35deg) translateY(12px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

/* Blur e feito foco */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(1px);
  z-index: 3500;
}

/* Divider */
.divider {
  width: 80%;
  margin: 1rem auto;
  border: 0;
  height: 2px;
  background: #fff;
}

/* ================= HOME ================= */
.home-content {
  width: 100%;
  height: 100%;
  overflow: auto; /* permite scroll interno */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  margin-top: -5vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
}

/* Título ocupa largura total */
.home-content .titulo-secao {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

/* Cada seção */
.home-content .form-section {
  background: var(--bg-color, transparent);
  border-radius: 6px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px var(--cor-primaria);
  gap: 0.3rem;
  transition: all 0.3s ease-in-out;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.home-content .form-section:hover {
  box-shadow: 0 0 8px var(--cor-primaria);
  transform: scale(1.02);
}

.home-content .form-section .section-header h3 {
  font-size: 0.75rem;
  font-weight: bold;
}

.home-content .form-section .section-header i {
  font-size: 1rem;
  font-weight: bold;
}

/* Atalhos */

/* BOTÕES */
.atalhos-actions {
  margin-left: auto;
  display: flex;
  gap: 0.3rem;
}

.btn-sm {
  font-size: 0.6rem;
  padding: 0.2rem 0.45rem;
  justify-content: center;
  font-weight: bold;
}

.ms-auto button {
  align-items: center;
  display: flex;
}

.btn-outline-secondary {
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: #757171a4;
  border: var(--cor-primaria) 1px solid;
  color: white;
}

.btn-outline-secondary i {
  margin-right: 0.3rem;
}

.btn-outline-danger {
  border: 1px solid var(--cor-danger);
  background: #ee3333a4;
}

.btn-outline-sucess {
  border: 1px solid var(--cor-success);
  background: var(--cor-secundaria);
}

.btn-success {
  background-color: #757171a4;
  border: var(--cor-primaria) 1px solid;
  color: white;
  font-size: 0.8rem;
}

/* LISTA DE ATALHOS */
.atalhos-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

.atalhos-list li {
  border-radius: 4px;
  margin: 0.3rem;
  cursor: pointer;
}

.atalhos-list li a {
  display: flex;
  gap: 0.4rem;
  padding: 0.35rem 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  background: var(--cor-primaria);
  transition: all 0.2s ease-in-out;
}

.atalhos-list li a:hover {
  background: var(--cor-secundaria);
  transform: scale(0.98);
}

/* MODO REMOVER */
.atalhos-list.remove-mode li a {
  background: rgba(109, 0, 11, 0.712);
}

.atalhos-list.remove-mode li a:hover {
  background: rgba(255, 0, 25, 0.664);
}

/* DROPDOWN */
.atalhos-dropdown {
  margin-top: 0.5rem;
  border: 1px solid var(--cor-primaria);
  border-radius: 6px;
  max-height: 160px;
  overflow-y: auto;
}

.atalhos-dropdown button {
  width: 100%;
  border: none;
  padding: 0.35rem 0.5rem;
  font-size: 0.65rem;
  display: flex;
  gap: 0.4rem;
  text-align: left;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 0;
  color: black;
}

.atalhos-dropdown button:hover {
  background: rgba(11, 158, 6, 0.671);
}

/* ================= LOGO EMBAIXO ================= */
.logo-baixo {
  display: none;
  text-align: center;
}
.logo-baixo img {
  height: 3rem;
  margin: 1rem auto;
  transition: transform 0.2s ease-in-out;
}
.logo-baixo img:hover {
  transform: scale(0.95);
}

/* ================= LAYOUT ================= */
.layout {
  display: flex;
  justify-content: center;
  margin-top: 18vh; /* altura do header */
  padding: 0 2vw;
}

/* ================= Conteúdo da Tela ================= */
.content {
  width: 70rem;
  background: var(--cor-fundo-claro);
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* ================= DARK MODE ================= */

body.dark-mode .form-section,
body.dark-mode .form-section h3,
body.dark-mode .form-section input,
body.dark-mode .form-section .icon,
body.dark-mode .form-section .bi {
  color: #f1f1f1;
  border-color: #444;
}

body.dark-mode .form-section input {
  background: #222;
  color: #f1f1f1;
  border-color: #444;
}

body.dark-mode .form-footer i,
body.dark-mode .form-footer a {
  color: #f1f1f1;
}

/* ================= Título da Seção ================= */
.content .titulo-secao {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: var(--cor-terciaria);
}

/* ================= Seção de categorias ================= */

.form-section {
  padding-bottom: 2rem;
}

/* ================= Cabeçalho da seção ================= */

.section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-header .icon {
  font-size: 1.8rem;
  color: var(--cor-texto-escuro);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header h3 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--cor-texto-escuro);
  font-weight: bold;
}

/* ================= Linha divisória entre cabeçalho e conteúdo ================= */

.content .divider {
  width: 100%;
  margin: 1vh auto;
  border: 0;
  height: 1px;
  background: var(--cor-texto-escuro);
  border-radius: 5px;
  margin-bottom: 3vh;
}

/* ================= Conteúdo da seção ================= */

.form-row {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

/* ================= Botões ================= */
.botao_geral {
  text-align: center;
  padding: 2vh;
}

button {
  background: var(--cor-primaria);
  color: var(--cor-texto-claro);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
}

button:hover {
  background: #058831;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

/* Grupo de radios */
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.radio-group-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
  align-items: center;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card-cliente {
  display: flex;
  justify-content: space-between; /* nome/tipo à esquerda e edição à direita */
  align-items: center;
  padding: 0.5rem 0;
}

.editar-acao {
  display: flex;
  flex-direction: column; /* ícone em cima, texto embaixo */
  align-items: center; /* centraliza o p abaixo do ícone */
  font-size: 0.8rem;
  color: var(--cor-primaria-escura); /* opcional */
  cursor: pointer;
}

.editar-acao i {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.form-group select {
  flex: 1;
  padding: 0.7rem 3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  background: #fff;
  cursor: pointer;
}

/* ================= Prefixos e sufixos dos inputs do conteúdo ================= */

/* Prefixo R$ e sufixo Kg nos inputs */
.input-prefix,
.input-suffix {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-prefix input,
.input-suffix input {
  padding-left: 2.2rem; /* espaço pro prefixo */
}

.input-suffix input {
  padding-right: 2.2rem; /* espaço pro sufixo */
}

/* Prefixo (R$) */
.prefix {
  position: absolute;
  left: 10px;
  bottom: 12px;
  color: var(--cor-texto-escuro);
  font-weight: bold;
  font-size: 0.9rem;
}

/* Sufixo (Kg) */
.suffix {
  position: absolute;
  right: 10px;
  bottom: 12px;
  color: var(--cor-texto-escuro);
  font-size: 0.9rem;
}

/* ================= Inputs da seção ================= */

.form-row.full input {
  flex: 1;
}

.form-row input {
  flex: 1;
  padding: 0.7rem 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* ================= Label do conteúdo ================= */

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label,
.radio-group .label-radio {
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-style: italic;
  color: var(--cor-fundo-escuro);
}

.radio-group .label-radio {
  margin-bottom: 0;
  margin-right: 1rem;
  white-space: nowrap;
}

.radio-option label {
  font-size: 0.9rem;
}

.form-row .campo-obrigatório {
  color: var(--cor-pending);
  font-weight: bold;
  font-size: 1.2rem;
}

.frase-campo-asterisco {
  text-align: right;
  color: var(--cor-pending);
  font-weight: bold;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

/* ================= Rodapé do conteúdo ================= */

.form-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.form-footer-voltar {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 2rem;
  color: var(--cor-pending);
}

.form-footer-avancar {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: 2rem;
}

.form-footer a,
.form-footer-avancar a,
.form-footer-voltar a {
  text-decoration: none;
  color: var(--cor-primaria-escura);
}

.form-footer i,
.form-footer-avancar i,
.form-footer-voltar i {
  font-size: 1rem;
  color: var(--cor-primaria-escura);
}

.form-footer a:hover,
.form-footer-avancar a:hover,
.form-footer-voltar a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.095);
  }
  100% {
    transform: scaleX(1);
  }
}

/* ImportSheet */
.import-sheet {
  margin-top: -8rem;
}

.import-sheet .tabela-planilha {
  width: 100%;
  height: 70vh;
  background: #2a7efc0c;
  border: 5px dashed var(--cor-cinza);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Área da tabela com rolagem horizontal e vertical */
.import-sheet .preview-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto; /* rolagem em ambos sentidos */
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Estilo básico */
.import-sheet .preview-table {
  width: max-content; /* evita "espremer" a tabela */
  border-collapse: collapse;
  font-size: 14px;
}

/* Linhas e colunas separadas */
.import-sheet .preview-table th,
.import-sheet .preview-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  white-space: nowrap; /* evita quebra feia */
}

/* Cabeçalho fixo (congelado) */
.import-sheet .preview-table thead th {
  position: sticky;
  top: 0;
  background: #f1f1f1;
  font-weight: bold;
  z-index: 2;
}

/* Alternância de linhas (zebra) */
.import-sheet .preview-table tbody tr:nth-child(even) {
  background: #fafafa;
}

/* Hover */
.import-sheet .preview-table tbody tr:hover {
  background: #f0f7ff;
}

/* ================= RESPONSIVO ================= */
/* Botão hamburguer e fechar */
.sidebar-hamburguer .hamburger {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--cor-texto-claro);
  z-index: 5001; /* maior que a sidebar */
  position: fixed;
  top: 2rem;
  left: 0.5rem;
  background: transparent;
}

/* Quando a sidebar estiver aberta */

.sidebar.active .logo-baixo {
  display: block;
}

/* Mobile */
@media (max-width: 1150px) {
  .logo-baixo {
    display: block;
  }

  .header {
    left: 0;
    padding: 0.8rem 1rem;
  }

  .header .logo {
    display: none;
  }

  .header-right .user-name {
    display: none;
  }

  .header-right {
    align-items: center;
  }

  .header-right .profile i {
    font-size: 35px;
  }

  .header-right .icons i {
    font-size: 15px;
  }

  .search-bar input {
    width: 40vw;
    padding: 0.6rem 1rem;
    margin-left: 5rem;
  }

  .search-dropdown {
    width: 70vw;
    left: 2vw;
    text-align: center;
    gap: 2rem;
  }

  .sidebar {
    display: flex;
    left: -100%;
    width: 50vw;
    height: 100vh; /* ocupa toda a tela */
    overflow-y: auto; /* rolagem vertical */
    border-radius: 15px;
    transition: left 0.4s ease-in-out;
    padding-top: 10vh;
    padding-bottom: 10vh;
    top: 0;
  }

  .sidebar.active {
    left: 0;
    width: 50vw;
  }

  .sidebar-hamburguer {
    top: 2.5vh;
    left: 0.8vw;
  }

  .sidebar ul li {
    padding-bottom: 1vh;
  }

  .hamburger-icon {
    width: 8vw;
    height: 4vh;
  }

  .hamburger-icon.open span {
    margin-left: 1rem;
  }

  .layout {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .content {
    padding: 1rem;
    width: 90vw;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .botao_geral {
    width: 100%;
    display: flex;
    flex-direction: column; /* um botão embaixo do outro */
    gap: 12px; /* distância no modo responsivo */
  }

  .botao_geral button {
    width: 100%;
  }

  .home-content {
    grid-template-columns: 1fr;
    height: auto;
  }

  .home-content .form-section {
    box-shadow: 0 0 2px var(--cor-primaria);
  }

  .atalhos-dropdown button {
    font-size: 0.8rem;
  }

  .content .titulo-secao {
  font-size: 1.2rem;
  }
}
