/* ================= VARIÁVEIS GLOBAIS ================= */
:root {
  /* Paleta baseada na logo FINC */
  --cor-primaria: #2ecc71;
  --cor-primaria-escura: #27ae60;
  --cor-secundaria: #0d6630;
  --cor-terciaria: #063e20;

  /* Neutros */
  --cor-fundo-claro: #f8f8f8;
  --cor-fundo-escuro: #111;
  --cor-texto-claro: #fff;
  --cor-texto-escuro: #000;
  --cor-cinza: #ddd;

  /* Outros */
  --cor-ok: #1e7d44;
  --cor-pending: #b52d2d;
}

/* ================= DARK MODE ================= */
body.dark-mode {
  background: #121212;
  color: #f1f1f1;
}

body.dark-mode .header {
  background: #000 !important;
  color: #f1f1f1;
}

body.dark-mode .sidebar {
  background: #000 !important;
  color: #f1f1f1;
}

body.dark-mode .sidebar ul li a {
  color: #f1f1f1;
}

body.dark-mode .content {
  background: var(--cor-texto-escuro) !important;
  color: #f1f1f1;
}

/* Divider no dark mode */
body.dark-mode .divider {
  background: #444 !important;
}

/* Labels no dark mode */
body.dark-mode .form-group label,
body.dark-mode .radio-group .label-radio {
  color: #f1f1f1 !important;
}

/* Prefixo e sufixo no dark mode */
body.dark-mode .prefix,
body.dark-mode .suffix {
  color: #f1f1f1 !important;
}



/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
}

/* ================= HEADER ================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top,var(--cor-terciaria)30%,var(--cor-secundaria));
  color: var(--cor-texto-claro);
  padding: 2vh 2vw;
  position: fixed;
  top: 0;
  left: 3vw; 
  right: 0;
  z-index: 1000;
}


.header .msg {
  margin-left: 1vw;
  line-height: 1.2;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-right a {
  text-decoration: none;
  color: var(--cor-texto-claro);
}

.header-right a:hover {
  text-decoration:underline;
  }
  
  .header-right .icons {
    display: flex;
    flex-direction: column; /* coloca em coluna */
    gap: 0.5rem;
  align-items: center;    /* centraliza horizontalmente */
  cursor: pointer;
}

.header-right .icons i:hover {
  transform: scale(1.1);
}

.profile i {
  font-size: 2rem;
  margin-right: 1rem;
}

/* Animação SearchBar */
.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 50%;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-bar i {
  margin-left: -2rem;
  color: var(--cor-primaria-escura);
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 45vw;
}

.search-dropdown {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 75vh;
  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 14px;
  padding: 0.8rem 0;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  animation: dropdownOpen 0.25s ease-out;
  z-index: 2000;
  opacity: 1;
  transform: translateY(0);
  overflow-y: auto;   
  overflow-x: hidden;
}


/* Estiliza a barra de rolagem */
.search-dropdown::-webkit-scrollbar {
  width: 8px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}

/* Espaço antes dos itens para não encostar no topo */
.dropdown-content {
  padding-top: 0.5rem; /* ← ajustável */
}

.search-dropdown.closing {
  animation: dropdownClose 0.2s ease-in forwards;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  font-weight: 600;
  color: white;
}

.dropdown-header .close-btn {
  cursor: pointer;
  font-size: .8rem;
  color: var(--cor-texto-claro);
  background-color: var(--cor-pending);
  padding: .7rem;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}
.dropdown-header .close-btn span{
  margin-right: .3rem;
}

.dropdown-header .close-btn:hover {
  transform: scale(0.95);
}

/* ITEMS */
.dropdown-item {
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: rgba(255,255,255,0.18);
}

/* BOTÃO PESQUISAR ANIMADO */
.btn-search {
  width: 90%;
  margin: 0.9rem auto 0.3rem auto;
  display: block;
  padding: 0.75rem;
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-search:hover {
  transform: scale(1.03);
  background: rgba(255,255,255,0.28);
}

/* PULSE ANIMATION */
.pulse {
  animation: pulseAnim 1.4s infinite ease-in-out;
}

@keyframes pulseAnim {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); }
  100% { transform: scale(1); }
}




/* ================= SIDEBAR ================= */
.sidebar {
  width: 3.5rem;
  background: linear-gradient(to top,var(--cor-terciaria)90%,var(--cor-secundaria));
  color: var(--cor-texto-claro);
  height: 100vh;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  overflow-y: auto;
  transition: width 0.3s ease, left 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Quando abrir */
.sidebar.active {
  width: 15.5vw;
}

/* Ícones + label */
.sidebar ul {
  list-style: none;
  margin-top: 12vh;
  margin-left: .5vw;
}
.sidebar ul li {
  margin-bottom: 1rem;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--cor-texto-claro);
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 5px;
}
.sidebar .label {
  display: none;
}
.sidebar.active .label {
  display: inline;
}

.sidebar ul li.ativo a {
  background: rgba(255, 255, 255, 0.18);
  border-right: 6px solid var(--cor-primaria);
  transition: all 0.25s ease;
}


/* Hambúrguer */
.sidebar-hamburguer {
  position: fixed;
  z-index: 5001;
  top: 5vh;
  left: .8vw;
  cursor: pointer;
}

.hamburger-icon {
  width: 2.5vw;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

.hamburger-icon span {
  width: 100%;
  height: 4px;
  background: var(--cor-texto-claro);
  border-radius: 5px;
  transition: 0.35s ease;
}

/* ANIMAÇÃO DO X */
.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

/* Blur e feito foco */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(1px);
  z-index: 3500;
}

/* Divider */
.divider {
  width: 80%;
  margin: 1rem auto;
  border: 0;
  height: 2px;
  background: #fff;
}

/* ================= LOGO EMBAIXO ================= */
.logo-baixo {
  display: none;
  text-align: center;
}
.logo-baixo img {
  height: 3rem;
  margin: 1rem auto;
  transition: transform 0.2s ease-in-out;
}
.logo-baixo img:hover {
  transform: scale(0.95);
}

/* ================= LAYOUT ================= */
.layout {
  display: flex;
  justify-content: center;
  margin-top: 18vh; /* altura do header */
  padding: 0 2vw;
}

/* ================= Conteúdo da Tela ================= */
.content {
  width: 62rem;
  background: var(--cor-fundo-claro);
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

/* ================= DARK MODE ================= */

body.dark-mode .form-section,
body.dark-mode .form-section h3,
body.dark-mode .form-section input,
body.dark-mode .form-section .icon,
body.dark-mode .form-section .bi {
  color: #f1f1f1;
  border-color: #444;
}

body.dark-mode .form-section input {
  background: #222;
  color: #f1f1f1;
  border-color: #444;
}

body.dark-mode .form-footer i,
body.dark-mode .form-footer a {
  color: #f1f1f1;
}

  /* ================= Título da Seção ================= */
  .content .titulo-secao {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: var(--cor-terciaria);
  }

/* ================= Seção de categorias ================= */

.form-section {
  padding-bottom: 2rem;
}

/* ================= Cabeçalho da seção ================= */



  .section-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .section-header .icon {
    font-size: 1.8rem;
    color: var(--cor-texto-escuro);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-header h3 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--cor-texto-escuro);
    font-weight: bold;
  }
  
/* ================= Linha divisória entre cabeçalho e conteúdo ================= */

.content .divider {
  width: 100%;
  margin: 1vh auto;
  border: 0;
  height: 1px;
  background: var(--cor-texto-escuro);           
  border-radius: 5px;
  margin-bottom: 3vh;
}

/* ================= Conteúdo da seção ================= */

.form-row {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

  /* ================= Botões ================= */
  .botao_geral{
    text-align: center;
    padding: 2vh;
  }

  button {
    background: var(--cor-primaria);
    color: var(--cor-texto-claro);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
  }

  button:hover {
    background: #058831;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }

  /* Grupo de radios */
  .radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }

  .radio-group-row {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    gap: 4rem;
    align-items: center;
  }

  .radio-option {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .card-cliente {
    display: flex;
    justify-content: space-between; /* nome/tipo à esquerda e edição à direita */
    align-items: center;
    padding: 0.5rem 0;
  }

  .editar-acao {
    display: flex;
    flex-direction: column; /* ícone em cima, texto embaixo */
    align-items: center;    /* centraliza o p abaixo do ícone */
    font-size: 0.8rem;
    color: var(--cor-primaria-escura); /* opcional */
    cursor: pointer;
  }

  .editar-acao i {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }


  .form-group select {
    flex: 1;
    padding: 0.7rem 3rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
    background: #fff;
    cursor: pointer;
  }

  /* ================= Prefixos e sufixos dos inputs do conteúdo ================= */

  /* Prefixo R$ e sufixo Kg nos inputs */
.input-prefix,
.input-suffix {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-prefix input,
.input-suffix input {
  padding-left: 2.2rem; /* espaço pro prefixo */
}

.input-suffix input {
  padding-right: 2.2rem; /* espaço pro sufixo */
}

/* Prefixo (R$) */
.prefix {
  position: absolute;
  left: 10px;
  bottom: 12px;
  color: var(--cor-texto-escuro);
  font-weight: bold;
  font-size: 0.9rem;
}

/* Sufixo (Kg) */
.suffix {
  position: absolute;
  right: 10px;
  bottom: 12px;
  color: var(--cor-texto-escuro);
  font-size: 0.9rem;
}


  /* ================= Inputs da seção ================= */

  .form-row.full input {
    flex: 1;
  }

  .form-row input {
    flex: 1;
    padding: 0.7rem 2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
  }

/* ================= Label do conteúdo ================= */

  .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label, .radio-group .label-radio {
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-style: italic;
  color: var(--cor-fundo-escuro);
}

.radio-group .label-radio {
  margin-bottom: 0;
   margin-right: 1rem; 
  white-space: nowrap;
}

.radio-option label {
  font-size: .9rem;
}

.form-row .campo-obrigatório {
  color: var(--cor-pending);
  font-weight: bold;
  font-size: 1.2rem;
}

.frase-campo-asterisco {
  text-align: right;
  color: var(--cor-pending);
  font-weight: bold;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}



  /* ================= Rodapé do conteúdo ================= */

  .form-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.form-footer-voltar {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 2rem;
  color: var(--cor-pending);
}

.form-footer-avancar {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: 2rem;
}

.form-footer a, .form-footer-avancar a, .form-footer-voltar a {
  text-decoration: none;
  color: var(--cor-primaria-escura);
}

.form-footer i, .form-footer-avancar i, .form-footer-voltar i{
  font-size: 1rem;
  color: var(--cor-primaria-escura);
}

.form-footer a:hover, .form-footer-avancar a:hover, .form-footer-voltar a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.095);
  }
  100% {
    transform: scaleX(1);
  }
}


/* ================= RESPONSIVO ================= */
/* Botão hamburguer e fechar */
.sidebar-hamburguer .hamburger {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--cor-texto-claro);
  z-index: 5001;   /* maior que a sidebar */
  position: fixed;
  top: 2rem;
  left: 0.5rem;
  background: transparent;
}

 /* Quando a sidebar estiver aberta */

  .sidebar.active .logo-baixo{
    display: block;
  }
  
/* Mobile */
@media (max-width: 1150px) {

  .logo-baixo {
    display: block;
  }

  .header {
    left: 0;
    padding: .3rem 1rem;
  }

  .header .msg {
    margin-left: 2.5rem;
    margin-top: 1rem;
    width: 10rem;
  }

  .header .msg h2{
    font-size: 1rem;
  }

  .header-right .user-name {
    display: none;
  }

  .search-bar input {
    width: 50%;
    padding: 0.6rem 1.5rem;
  }

  .search-bar i {
    margin-right: 1.5rem;
  }

  .sidebar {
    display: flex;
    left: -100%;
    width: 50vw;
    height: 100vh;        /* ocupa toda a tela */
    overflow-y: auto;     /* rolagem vertical */
    border-radius: 15px;
    transition: left 0.4s ease-in-out;
  }

  .sidebar.active {
    left: 0;
    width: 50vw;
  }

    .sidebar-hamburguer {
    top: 4vh;
    left: .8vw;
  }

  .hamburger-icon {
    width: 7vw;
    height: 4vh;
  }

  .layout {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .content {
    padding: 1rem;
    width: 90vw;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
