/* ================= VARIÁVEIS GLOBAIS ================= */
:root {
  /* Principais */
  --cor-primaria: #2ecc71;        
  --cor-primaria-escura: #27ae60; 
  --cor-secundaria: #0d6630;      
  --cor-terciaria: #063e20;       
  
  /* Neutros */
  --cor-fundo-claro: #f8f8f8;     
  --cor-fundo-escuro: #111;       
  --cor-texto-claro: #ffffff;     
  --cor-texto-escuro: #000000;    
  --cor-cinza: #ddd;              
  --cor-cinza-escuro: rgba(54, 52, 52, 0.514);
  
  /* Transparências */
  --cor-preto-transparente: rgba(0, 0, 0, 0.226);
  --cor-preto-transparente-forte: rgba(0, 0, 0, 0.925);
  --cor-branco-transparente: rgba(255, 255, 255, 0);
  
  /* Degradês */
  --gradiente-topo: linear-gradient(to bottom, var(--cor-fundo-claro), var(--cor-branco-transparente));
  --gradiente-base: linear-gradient(to top, var(--cor-fundo-claro), var(--cor-branco-transparente));
  
  /* Extras */
  --cor-hover: rgba(60, 155, 60, 0.836); /* verde hover nos links */
  --cor-cinza: #ddd;

  /* Outros */
  --cor-ok: #1e7d44;
  --cor-pending: #b52d2d;

  --cor-fundo: #111;
  --cor-card: #2a2a2a;
  --cor-card-hover: #202020;

  --cor-preco: #4caf50;

  --bg-blur: rgba(255, 255, 255, 0.295);
  --cor-preta-apagada: #000000d2;
}

/* ================= DARK MODE ================= */
body.dark-mode {
  background: #121212;
  color: #f1f1f1;
}

body.dark-mode .header {
  background: #000 !important;
  color: #f1f1f1;
}

body.dark-mode .sidebar {
  background: #000 !important;
  color: #f1f1f1;
}

body.dark-mode .sidebar ul li a {
  color: #f1f1f1;
}

body.dark-mode .content {
  background: var(--cor-texto-escuro) !important;
  color: #f1f1f1;
}

/* Divider no dark mode */
body.dark-mode .divider {
  background: #444 !important;
}

/* Labels no dark mode */
body.dark-mode .form-group label,
body.dark-mode .radio-group .label-radio {
  color: #f1f1f1 !important;
}

/* Prefixo e sufixo no dark mode */
body.dark-mode .prefix,
body.dark-mode .suffix {
  color: #f1f1f1 !important;
}

html {
  scroll-behavior: smooth;
}

html,
body,
* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    fill 0.4s ease,
    stroke 0.4s ease;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.feedback {
  font-size: 14px;
  color: var(--cor-texto-escuro);
  text-align: center;
  animation: feedRed 3s ease-in-out;
}

@keyframes feedRed {
  0% { color: var(--cor-texto-escuro); }
  50% { color: var(--cor-pending); }
  100% { color: var(--cor-texto-escuro); }
}

.bold-text {
  font-weight: bold;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
}

.loading-box {
  display: flex;
  align-items: center;
  gap: 14px;

  border: 2px solid rgb(0, 0, 0);
  background: rgba(109, 107, 107, 0.18);
  border-radius: 14px;

  padding: 18px 16px;
  margin: 12px 0 18px;
}

.appplanos .spinner {
  width: 34px;
  height: 34px;
}

.loading-text h3 {
  margin: 0;
  font-size: 18px;
}

.loading-text p {
  margin: 4px 0 0;
  opacity: 0.85;
}
