
/* ================= HOME ================= */
.home-content {
  width: 100%;
  height: 100%;
  overflow: auto; /* permite scroll interno */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: -22vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
}

/* Título ocupa largura total */
.home-content .titulo-secao {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--cor-secundaria);
}

/* Cada seção */
.home-content .form-section {
  background: var(--bg-color, transparent);
  border-radius: 6px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px var(--cor-primaria);
  gap: 0.3rem;
  transition: all 0.3s ease-in-out;
  margin-top: .1rem;
  margin-bottom: .1rem;
}

.home-content .form-section:hover {
  box-shadow: 0 0 8px var(--cor-primaria);
  transform: scale(1.02);
}

.home-content .form-section .section-header h3{
  font-size: .75rem;
  font-weight: bold;
}

.home-content .form-section .section-header i{
    font-size: 1rem;
    font-weight: bold;
}

/* Atalhos */
.home-content .atalhos-row {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.home-content .atalhos-row button {
  flex: 1;
  background: var(--cor-primaria);
  color: var(--cor-texto-claro);
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.home-content .atalhos-row button:hover {
  background: var(--cor-secundaria);
  transform: scale(1.05);
}



/* Responsivo */
@media (max-width: 900px) {
  .home-content {
    grid-template-columns: 1fr;
    height: auto;
  }

  .home-content .form-section {
  box-shadow: 0 0 2px var(--cor-primaria);
  }
}