.form-footer-voltar {
    top: 0;
    margin-bottom: 5vh;
}

.escolha {
    margin-top: 5vh;
}

.escolha input{
    margin-top: 2vh;
}

/* abas */
.abas-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.aba {
  padding: 8px 15px;
  border-radius: 15px;
  border: 1px solid var(--cinza);
  background: #868484;
  cursor: pointer;
}

.aba.ativa {
  background: var(--cor-ok);
  color: white;
  border: 1px solid var(--cor-texto-escuro);
}

/* botão limpar */
.btn-limpar {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  background: #ff3333;
  color: #fff;
}

/* animações */
.animar-lista {
  animation: fadeIn 0.3s ease;
}

.animar-card {
  animation: slideUp 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(10px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

/* paginação */
.paginacao {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagina {
  padding: 7px 12px;
  border-radius: 8px;
  background: #868484;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagina.ativa {
  background: var(--cor-ok);
  color: #fff;
  border: 1px solid var(--cor-texto-escuro);
}
