.TelaContador .permissoes-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-permissao {
  padding: 15px;
  border-radius: 12px;
  background: #f5f5f5;
  border-left: 4px solid #0077ff;
}

.card-permissao h4 {
  margin-bottom: 5px;
}

.card-permissao p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-permissao .btn2 {
  width: 120px;
}
