.TelaContador .permissoes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-permissao {
  padding: 1rem;
  border-radius: 12px;
  background: #f5f5f5;
  border-left: 4px solid #0077ff;
}

.card-permissao h4 {
  margin-bottom: .5rem;
}

.card-permissao p {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.card-permissao .btn2 {
  width: 10vw;
}
