.botoes {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
  justify-content: center;
}

.btn-verde {
  background-color: green;
  color: white;
}

.btn-vermelho {
  background-color: red;
  color: white;
}

.msg-sistema {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.msg-sistema:contains("sucesso") {
  color: #0f0;
}

.msg-sistema:contains("Preencha") {
  color: #f33;
}

@media (max-width: 1150px) {
  .botoes {
    margin-top: 2rem;
    flex-direction: column;
    gap: 3rem;
}
}