/* abas */
.abas-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.aba {
  padding: 8px 15px;
  border-radius: 15px;
  border: 1px solid var(--cinza);
  background: #868484;
  cursor: pointer;
}

.aba.ativa {
  background: var(--cor-ok);
  color: white;
  border: 1px solid var(--cor-texto-escuro);
}

/* botão limpar */
.btn-limpar {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  background: #ff3333;
  color: #fff;
}

/* animações */
.animar-lista {
  animation: fadeIn 0.3s ease;
}

.animar-card {
  animation: slideUp 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(10px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

/* paginação */
.paginacao {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pagina {
  padding: 7px 12px;
  border-radius: 8px;
  background: #868484;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagina.ativa {
  background: var(--cor-ok);
  color: #fff;
  border: 1px solid var(--cor-texto-escuro);
}

.botao_geral .btn{
margin: auto 2vw
}

.editar-acao {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}

.editar-acao .editar-cliente-item {
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.editar-acao .editar-cliente-item:hover{
  transform: scale(0.95);
  background-color: #7a737341;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.editar-acao .editar-cliente-item i {
  cursor: pointer;
  font-size: 1.2rem;
}

.editar-acao .excluir-cliente-item {
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.editar-acao .excluir-cliente-item:hover{
  transform: scale(0.95);
  background-color: #7a737341;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.editar-acao .excluir-cliente-item i {
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
}

.editar-acao .excluir-cliente-item p{
  color: red;
}

.botao_geral .btn-cancelar{
  background-color: red;
  color: #fff;
  
}

.botao_geral .btn-cancelar:hover{
  background-color: #b30000;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
