.botoes {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
  justify-content: center;
}

.btn-verde {
  background-color: green;
  color: white;
}

.btn-vermelho {
  background-color: red;
  color: white;
}

@media (max-width: 1150px) {
  .botoes {
    margin-top: 2rem;
    flex-direction: column;
    gap: 3rem;
}
}